body {
    height: 1200px;  
}

ul{
    list-style: none
}

/*
p {
 color: black;
 font-family: 'Raleway';
 text-align: center;
}
*/

.flexcontainer{
    display: flex;

}

.summary{
    font-family: 'Raleway';
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    padding: 10px 0px 0px 10px;
}
.nameformat {
    font-family: 'Yellowtail';
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 10px 0px 0px 10px;
}

.navbar {
    padding: 1%;
    text-align: right;
    padding: 1px 3px;
    text-decoration: none;
}

.inline-block {
    color: black;
    display: inline;
    vertical-align: top;
    padding: 10px 10px;
    font-family: 'Raleway'

}







.flexcontainer{
    display: flex;

}


.fade{
    font-size: 14px;
    text-align: center;
 
}

.size{
    width:20px;
    height:10px;
}


.arrowButton{
    float: center;
    background-color: blue;
    border-color: transparent;
   

}

.Qbutton{
    background-color: lightblue;
    border-radius: 4px;
    
    border-color: lightgray;
    padding: 15px;

}


.one{
    font-family: 'Raleway';
    font-size: 20px;
    text-align: center;
    padding: 0px 0px 0px 0px; 
    line-height: 0px;

}

.five{
    font-family: 'Raleway';
    font-size: 12px;
    text-align: center;
    padding: 10px 0px 0px 0px; 
    line-height: 0px;

}


#gridLayout {
    
    display: grid;
    width: 100%;
    height: 50%;
    grid-template-areas: 
                         "box1 box2 box3"
                         "footer footer footer";
    grid-template-rows: 10% 5%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0px;
}

.heading {
    grid-area: heady;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway';   
    
}

.boxy1{
    grid-area: box1;   
    padding: 10%;    
}

.box-2{
    grid-area: box2;
    padding: 10%;   
}

.box-3{
    grid-area: box3;
    padding: 10%; 
}

#shastaPic {
    display: block;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    object-fit: contain;
    margin: auto;
}


h3 {
    text-align: center;
    font-family: 'Raleway';
    font-weight: bold;
}


.foot {
    grid-area: footer;
    padding: 10%;  
    text-align: center; 
    margin: auto; 
    

}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    #gridLayout {   
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
                             "box1"
                             "box2"
                             "box3"
                             "footer";
        margin-top: 0px;
    }

    .inline-block {
    
        color: black;
        display: block;
       
        padding: 5px 5px;
        font-family: 'Raleway';
        
    }


  }
